body{
background-color: #40ffff;
max-width: 100%;
margin: auto;
overflow-x: hidden;
}
h1{
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
outline-style: solid;
background-color: #04eeee;
text-align: center;
}
h2{
display: flex;
justify-content: flex-end;
font-family: Arial, sans-serif;
}
h4{
  text-align: center;
}
nav {
  display: flex;
  width: 100%;
  padding: 1rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background-color: #01C9BD;
  justify-content: center;

}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a{
  color: white;
  text-decoration: none;
}
a{
font-size: 23px;
font-family: Arial, Helvetica, sans-serif;
}
p{
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  overflow: hidden;
  background-color: #01C9BD;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;  
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #01C9BD;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #000000;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: #01C9BD;
}

.subnav:hover .subnav-content {
  display: block;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a{
  color: white;
  text-decoration: none;
}
.MBIMG{
height: 30%;
width: 48%; 
display: block;
margin-left: auto;
margin-right: auto;
}

.canvasbody {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

.canvascenter{
  text-align: center;
  justify-content: center;
}
.canvascolumn {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  width: 80vw;
  height: 60vh;
}
.canvastext-box {
  font-size: 7mm;
  background-color: #01C9BD;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.aginav {
  width: 100%;
  padding: 1rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background-color: #40ffff;
  justify-content: center;
width: 100vw;
}

.agip{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  margin: auto;
  outline-style: solid;
  background-color: #01C9BD;
  width: 70vw;
  text-align: left;
  border-radius: 0.3cm;
  height: 40vh;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #01C9BD;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.agicenter{
  margin: auto;
  width: 600px;
  text-align: center;
  justify-content: center;
}
.center-video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.overonscenter{
  border: 1px solid black;
  border-collapse: collapse;
}

table {

  font-family: arial, sans-serif;

  border-collapse: collapse;

  width: 100%;

}

 

td, th {

  border: 1px solid #dddddd;

  text-align: left;

  padding: 8px;

}
#Textoverons{

  display: flex;

}

#tekstgids{

  display: flex;

  font-size: large;

 

}

table, th, td {

  border: 1px solid black;

  border-collapse: collapse;

}

.overonscolumn {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  width: 90vw;
  height: 20vh;
}
.overonstext-box {
  font-size: 5mm;
  background-color: #01C9BD;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

#fotojoaquim{
  float: left;
  width: 200px;
}

#fotohimanshu{
  float: left;
  width: 200px;
}

.ouderavondp{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  margin: auto;
  outline-style: solid;
  background-color: #01C9BD;
  width: 70vw;
  text-align: left;
  border-radius: 0.3cm;
  height: 40vh;
}

.Examenplan{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  margin: auto;
  outline-style: solid;
  background-color: #01C9BD;
  width: 70vw;
  text-align: left;
  border-radius: 0.3cm;
  height: 60vh;
  align-items: center;
}
.foto-examenplan{
width: 70vw;
height: 60vh;
align-items: center;




}