body{

background-color: #40ffff;




}

h1{

    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    outline-style: solid;
    background-color: #04eeee;
    width: 10cm;
    text-align: center;

}

   
        
    

h2{
display: flex;
justify-content: flex-end;
font-family: Arial, sans-serif;

}
.center{
    margin: auto;
    width: 25%;
    padding: 10px;
}
nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a{
  color: white;
  text-decoration: none;
}